.git
.gitignore
.vscode
.env
**/.env
node_modules
**/node_modules
__pycache__
**/__pycache__
*.pyc
**/*.pyc
.venv
**/.venv
output_images
pdfs
temp
tmp
**/tmp
temp_pdfs
**/temp_pdfs
examenes_frontend/build
*.log
*.jpg
*.jpeg
*.png
